*{
  box-sizing: border-box;
}
:root {
  /* Color Variables */
  --text-color: #181818 !important;
  --white-color: white !important;
  --project-color: #BDB7AA;
  --main-width: 1440px;
  /* Font Variables */
  --font-family-base: 'TT Firs Neue', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-size-small: 13px;
  --main-padding: 40px;
  /* Sizing Variables */
  --h1-font-size: 38px;
  --h1-font-weight: 500;
  --h1-line-height: 100%;
  --h1-letter-spacing: -1.12px;
  --h1-text-transform: uppercase;
  --h2-font-size: 28px;
  --h2-font-weight: 500;
  --h2-line-height: 130%;
  --h2-letter-spacing: -1.12px;
  --h2-text-transform: uppercase;
  --small-title-size: 13px;
  --small-title-line-height: 16px;
  --small-title-weight: 500;
  --small-title-transform: uppercase;
  --project-info-size: 28px;
  --project-info-line-height: 130%;
  --project-info-weight: 500;
  --project-info-transform: uppercase;
  --title-size: 70px;
  --title-line-height: 100%;
  --title-weight: 500;
  --title-transform: uppercase;
  --page-description-size: 32px;
  --page-description-line-height: 130%;
  --page-description-weight: 400;
  --section-title-size: 57px;
  --section-title-line-height: 100%;
  --section-title-weight: 500;
  --section-title-transform: uppercase;
  --image-text-size: 32px;
  --image-text-line-height: 130%;
  --image-text-weight: 500;
  --image-text-transform: uppercase;
  --table-text-size: 13px;
  --table-text-weight: 500;
  --table-text-transform: uppercase;
  --button-font-size: 16px;
  --main-button-round: 60px;
  --main-button-height: 47px;
  --button-height: 20px;
  --button-spacing: 0.52px;
  --button-padding: 10px;
  --navbar-height: 70px;
  --button-round: 20px;
  --navbar-padding: 20px 40px;
  --logo-width: 183px;
  --border-color-black: rgba(24, 24, 24, 0.15);
  --border-color-white: rgba(255, 255, 255, 0.15);
  --image-paddings: 24px;
  /* Misc Variables */
  --line-height-base: 1.5;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  color: var(--primary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div{
  font-family: var(--font-family-base);
}
a{
  text-decoration: none;
  text-transform: uppercase;
}
.SO_Main{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  padding: 0 40px 0;
}
.O_Navbar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  height: var(--navbar-height);
  padding: var(--navbar-padding);
}
.O_Form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 180px;
}
.W_FormPart{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 60px;
}
.O_OpeningPage{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.O_SelectorFilters{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 1440px;
}
.O_Map{
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 40px 0 40px;
}
.O_Sale{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.O_Distinctives{
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  padding: 40px 0 40px;
}
.W_Info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.W_Gap{
  display: flex;
  gap: 34px;
  flex-direction: column;
}
.W_Row{
  display: flex;
  flex-direction: row;
}
.W_FormCheckBoxInfo{
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
}
.W_Tables{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 60px;
  justify-content: space-between;
}
.W_FormCheckBoxField{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.M_FormSubmit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.A_FormCheckBox{
  width: 20px;
  height: 20px;
  border: 1px solid #181818;
  cursor: pointer;
}
.A_TablePoint{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 97px;
  width: 100%;
  padding: 40px 0 40px 0;
  border-bottom: 1px solid rgba(24, 24, 24, 0.15);
}
.A_FormTextInput {
  all: unset;
  width: 100%;
  padding: 20px 0 20px 0;
  color: var(--text-color);
  border-bottom: 1px solid rgba(24, 24, 24, 0.15);
  font-size: var(--table-text-size);
  line-height: 16px;
  font-weight: var(--table-text-weight);
  text-transform: var(--table-text-transform);
  letter-spacing: 0.56px;
}
.A_FormTextInput::placeholder{
  color: var(--text-color);
}
.A_TableContent{
  text-transform: uppercase;
}
.W_TableWithTitle{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.W_Table{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.W_TableAndImages{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
}
.W_ProjectGetInfo{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.W_NavbarLinks{
 display: flex;
 flex-direction: row;
 gap: 38px; 
}
.W_BlackBackground{
  margin: 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 760px;
  background-color: var(--text-color);
}
.W_ProjectInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.W_WithoutSmallTitle{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0 20px;
  border-top: 1px solid var(--border-color-black);
}
.W_DescriptionAndButton{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
 justify-content: space-between;
  padding: 20px 0 20px;
}
.W_Images{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  gap: 10px;
}
.W_ImageStack{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.W_AddresAndTableItems{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 485px;
  min-height: 485px;
}
.W_TableColumns{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.M_InfoBlock{
  display: flex;
  flex-direction: column;
  width: 755px;
  height: 100%;
  gap: 40px;
  padding: 40px;
}
.W_TableImages{
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}
.M_ImageWithText{
  display: flex;
  height: 100%;
  align-items: flex-end;
  width: 100%;
  align-content: flex-end;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: var(--image-paddings);  
  font-size: var(--image-text-size);
  font-weight: var(--image-text-weight);
  color: var(--white-color);
  line-height: var(--image-text-line-height);
  text-transform: var(--image-text-transform);
}
.A_HeaderLogo{
  width: 183px;
  max-width: 183px;
  height: 24px;
  max-height: 24px;
}
.A_BodyText{
  font-size: 16px;
  line-height: 130%;
}
.A_NavbarItem{
  font-size: 13px;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  line-height: 16px;
  color: var(--text-color);
  position: relative;
}
.A_PageTitle{
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: var(--title-line-height);
  text-transform: var(--title-transform);
  color: var(--text-color);
}
.A_Description{
  font-size: var(--page-description-size);
  line-height: var(--page-description-line-height);
  font-weight: var(--page-description-weight);
  color: var(--text-color);
}
.A_Map{
  width: 100%;
  height: 100%;
  background-image: url(https://i.ibb.co/85czpFL/map.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.A_SectionTitle{
  font-size: var(--section-title-size);
  font-weight: var(--section-title-weight);
  line-height: var(--section-title-line-height);
  text-transform: var(--section-title-transform);
  color: var(--text-color);
}
.A_MainButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  font-size: var(--button-font-size);
  width: fit-content;
  height: var(--main-button-height);
  padding: var(--button-padding);
  padding: 18px 10px 18px 18px;
  color: var(--white-color);
  background-color: var(--text-color);
  border-radius: var(--main-button-round);
}
.A_Button{
  display: flex;
  align-items: center;
  width: fit-content;
  height: var(--button-height);
  letter-spacing: var(--button-spacing);
  padding: var(--button-padding);
  background-color: var(--text-color);
  border-radius: var(--button-round);
  font-weight: var(--small-title-weight);
  text-transform: var(--small-title-transform);
  color: var(--white-color);
}
.A_ProjectInfo{
  font-size: var(--project-info-size);
  font-weight: var(--project-info-weight);
  letter-spacing: var(--project-info-line-height);
  text-transform: var(--project-info-transform);
}
.A_RowText{
  display: flex;
  flex-direction: row;
  padding: 40px 0 40px 0;
  height: 100px;
  font-size: var(--small-title-size);
  font-weight: var(--small-title-weight);
  line-height: var(--small-title-line-height);
  text-transform: var(--small-title-transform);
  color: var(--white-color);
  border-bottom: 1px solid var(--border-color-white);
}
.A_SmallTitle{
  font-size: var(--small-title-size);
  font-weight: var(--small-title-weight);
  line-height: var(--small-title-line-height);
  text-transform: var(--small-title-transform);
  color: var(--text-color);
}
.A_Subtitle{
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
}
.U_White{
  color: var(--white-color);
}
.U_WhiteBackground{
  color: var(--text-color);
  background-color: var(--white-color);
}
.U_ProjectColor{
  color: var(--project-color);
}
.U_MobileShow{
  display: none;
}
.U_LastItem{
  border-bottom: 0;
}
.U_Gap16{
  gap: 16px;
}
.Q_FirstImage{
  min-width: 67%;
  max-width: 67%;
  background-image: url(https://i.ibb.co/3vf7ZLc/M-Image-With-Text1.jpg);
}
.Q_Areas{
  background-image: url(https://i.ibb.co/Mhx9CFD/Areas.jpg);
}
.Q_Arial{
  background-image: url(https://i.ibb.co/Mhx9CFD/Areas.jpg);
}
.Q_LightIndustrial{
  background-image: url(https://i.ibb.co/wgSSXHk/Light-Industrial.jpg);
  height: 424px;
}
.Q_InsideLI{
  background-image: url(https://i.ibb.co/G32C9gG/InsideLI.jpg);
  height: 424px;
}
.Q_Areas{
  background-image: url(https://i.ibb.co/Mhx9CFD/Areas.jpg);
}
.Q_ButtonText{
  width: fit-content;
  max-width: fit-content;
}
.Q_Underline{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  bottom: 0;
}
.Q_Image{
  width: 100%;
  height: 100%;
  filter: invert(1);
}
.Q_ButtonIcon{
  width: 29px;
  height: 29px;
}
